/*Estilos a la barra de navegación*/

.header .navbar-expand-lg{
    background-color: rgb(86, 243, 170)!important;
    height: 40px;
}

.header .navbar-expand-lg .navbar-brand{
    min-width: 70%;
}

/* Ajustes responsive*/ 

@media only screen and (max-width:1024px){
    .header .navbar-expand-lg .navbar-brand{
        min-width: 50%;
        text-align: left;
        align-items: initial;
    }
   
}
@media only screen and (max-width:768px){
    .header .navbar-expand-lg .navbar-brand{
    display: none;
    }
   
}
.header .navbar-expand-lg .navbar-collapse .nav-link .active{
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.header .navbar-expand-lg .navbar-collapse .nav-item{
    color: rgb(15, 14, 14);
    font-size: 1.2rem;
}

.header .navbar-expand-lg .navbar-collapse .nav-link:hover{
    transition: ease-in .3s;
    height: 90%;
    background-color: rgb(9, 180, 132);
    box-shadow: inset 0 0 0 1px #fff;
}

/*--------Estilos contenedor formulario -----------*/
.container-home{
    min-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:auto 400px ;
}
.container-home .menu-lateral{
    margin-top: 60px;
    text-align: right;
    height: 100%;
}
.container-home .menu-lateral>h2{
    text-align: center;
    color: #c7c7c7;
}
.container-home .menu-lateral .list-group-item{
    cursor: pointer;
    margin-right: 20px;
}
.container-home .menu-lateral .list-group-item:hover{
    cursor: pointer;
    background-color: #c7c7c7;
    color: white;
    font-weight: bold;
    transition: ease 0.3s;
}
.container-home .menu-lateral .list-group-item .fas{
    color: #fa6b0c;
    float: left;
    font-size: 1.3rem;
    display: none;
}
.container-home .menu-lateral .list-group-item:hover .fas{
    color: #fa6b0c;
    display: block;
}
.container-home .home {
    margin-top: 60px;
    margin-left: 40px;
}

.container-home .home .fas{
    font-size: 1.2rem;
    color: gray;
    border: 1px solid gray;
}


/* =========== Estilos a la parte de la imagen de perfil =========*/

.home .container-perfil{
    display: flex;
    justify-content: center;
    background-color: #f1eeee;
    box-shadow: 0 0 0 2px gray;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    height: 200px;
    margin-bottom: 30px;
}
.container-perfil .linea{
    width: 60%;
    border: 1px solid rgb(251, 251, 251);
    position: absolute;
    display: flex;
    margin-top: 5%;
}
.img-perfil>img{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.9;
}

.img-perfil #titulo-foto{
    color: white;
    font-size: 1.2rem;
    position: relative;
    margin-top: 100px;
    background-color:rgba(21,21,21,0.7);
    width: 200px;
    height: 100px;
    border-radius: 0px 0px 100px 100px;
    opacity: 0;
    cursor: pointer;


}
.img-perfil #titulo-foto:hover,#imgperfil:hover{
    transition: ease-in-out .3s;
    opacity: 1;
}
.img-perfil #imagen {
    display: none;
}

/* ======== Estilos al formulario =====*/


.datos-form{
    margin-bottom: 30px;
    background-color: #f1eeee;
    box-shadow: 0 0 0 2px gray;
    width: 90%;
    margin: 0 auto;
}

.header-form{
    background-color: #696666;
    height: 50px;
    color: white;
}
.container-titulo-cv{
    margin-bottom: 40px;
}
.titulo-cv{
    padding: 10px 0 10px 0;
    text-decoration: underline;
    text-align: center;
}
.titulo-cv h2>input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #696666;
    text-align: center;
}
.titulo-cv #salarioDeseado{
    border: none;
    margin-right: 5px;
    text-align: center;
}
.header-form .legend{
    float: left;
}
.header-form .fas-icon{
    float: right;
}
.header-form .fas-icon .fas{
    background-color: rgb(199, 194, 194);
  
 }
.header-form .fas-icon .fas:hover{
   background-color: rgb(252, 249, 249);
   transition: ease .3s;
   cursor: pointer;
}


.container-button{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.container-button button{
    height: 40px;
}




.faMas{
    border: none;
}
.fa-plus-circle{
    display: flex;
    border: none!important;
    justify-content: center;
}
#fa-plus-circle .fa-plus-circle:hover{
    color: rgb(7, 7, 6);
    cursor: pointer;
}

/* Estilos recuperador de contraseñas */
#recuperador-contraseñas{
    background-color: darkslategrey;
}
.container-recuperador{
    margin: 0 auto;

    margin-top: 10%;
    width: 600px;
    height: 400px;
    background-color: azure;
}
