/*Estilos Barra de navegacion */

@media only screen and (min-width:1200px){
   .navbar-light{
      height: 40px!important;
   }
} 

.navbar-light .navbar-nav .nav-link{
   color: rgb(67, 68, 68);
   font-size: 0.8rem;
   vertical-align: top;
   margin-right: 3rem;
}
.navbar-light .navbar-nav .nav-link:hover{
   color: black;
   background-color: rgb(234, 234, 236);
   font-weight: bold;
   transition: linear 0.2s;
}

/* @media only screen and (max-width: 600px) {
   .navbar-dark .navbar-nav .nav-link{
      background-color: rgb(78, 78, 78);
      position: relative;
   }
   .navbar-dark .navbar-nav .nav-link:hover{
      background-color: rgb(78, 78, 78);
      transition: ease-in-out 1s;
      box-shadow: inset 0 0 0 1px white;
   }
 } */
#login{
   min-width: 300px!important;
}


/*Estilos al contenedor de registro de usuarioo */
#registro-usuario{
   position: absolute;
   margin-left: 25%;
   top: -100px;
   align-items: center;
   border: 3px solid rgb(118, 243, 35);
   background-color: rgb(179, 173, 173);
}
@media only screen and (max-width:720px){
   #registro-usuario{
      position: absolute;
      margin-left: 0%;
      margin-top: 15%;
   }
} 

#opcRegistro:hover{
  font-weight: bold;
}
.header-registro-usuario{
   margin-top: 5px;
   display: grid;
   grid-template-columns: 90% auto;
}
.header-registro-usuario span>h3{
  
   font-size: 30px;
   color: #fff;

}

.header-registro-usuario i{
   margin-right: 0;
   align-items: flex-end;
   text-align: right;
   margin-top: 10%;
   font-size: 1.5rem;
   cursor: pointer;
}




/* Datos del usuario */
.home-usuario{
   margin-top: 2rem;
}